*, *::before, *::after {
    box-sizing:inherit; 
}

html {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    background-color: #85DCBA  !important;
}

main {
    display: flex;
    flex-wrap: wrap; 
}

.movie {
    width: 250px;
    height: 400px;
    border-radius: 3px; 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); 
    margin:2rem; 
    display:inline-block;github
    background-color:  white !important;
    
}
.movie img {
   max-width: 100%;
   height:auto;
  
    
}
.rating {

color: black; 

margin:0; 

}

main {
    display:flex; 
    flex-wrap: wrap; 
    flex-direction: row;
}