*, *::before, *::after {
    box-sizing:inherit; 
}

html {
    box-sizing: border-box; 
}

body {
    margin: 0; 
}

h1 {
    background-color: aquamarine;
}

.movie {
    width: 400px;
    height: 350px; 
}

.movie img {
    width:100%;
}
